version: '3.8'

services:
  api-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    depends_on:
      - postgres
      - redis
      - minio
  
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=daein_postgres
      - POSTGRES_PASSWORD=daein_dinoSuor08
      - POSTGRES_DB=Study_Check_Data
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  redis-cache:
    image: redis:6-alpine
    ports:
      - "6379:6379"
    restart: always
  minio-s3:
    image: minio/minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    restart: always